<downman>
    <config>
        <MaxUploadSpeed> </MaxUploadSpeed>
        <MaxDownloadSpeed> </MaxDownloadSpeed>
        <DownloadDirectory> </DownloadDirectory>
    </config>
    <!-- Example download
    <download>
        <match> </match>
        <file> </file>
        <downloaded> </downloaded>
        <total> </total>
        <modifytime> </modifytime>
        <url> </url>
        <name> </name>
        <state> </state>
    </download>
    -->
</downman>
